<ion-content>
    <span id="top"></span>
    <div style="background-color: rgb(195, 195, 195); position: fixed; z-index: 3; width: 100%;">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-row>
                        <ion-col size="4" class="ion-text-end">
                            <img src="../../assets/OIG.jpeg" style="border-radius: 1000px; height: 45px;">
                        </ion-col>

                        <ion-col style="font-size: larger; font-weight: bolder; padding-top: 17px;">
                            Restaurant
                        </ion-col>
                    </ion-row>
                </ion-col>

                <ion-col style="padding-top: 17px;" class="ion-text-end">
                    <a href="../sign-page/">
                        <button>
                            Sign-in
                        </button>
                    </a>
                    <a href="../login-page/">
                        <button style="margin-left: 5px;">
                            log-in
                        </button>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <img src="../../assets/tabel.gif" style="position: fixed; margin-top: 79px; height: 588px; width: 375px;">
    <img src="../../assets/ionic.gif" style="position: fixed; bottom: 0px; mix-blend-mode: multiply; z-index: 3;">

    <div style="margin-top: 88px; margin-bottom: 214px;">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <swiper-container [loop]="true">
                        <swiper-slide>Slide 1</swiper-slide>
                        <swiper-slide>Slide 2</swiper-slide>
                        <swiper-slide>Slide 3</swiper-slide>
                      </swiper-container>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="knowYourChef">
                    KNOW YOUR CHEF
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="chef">
                    <img src="../../assets/chef 1.jpg">
                </ion-col>

                <ion-col class="chefInfo">
                    <b>Gordon</b>
                    <div class="hr"></div>
                    Halwai<div class="hr"></div>
                    1yr<div class="hr"></div>
                    <i>Ravioli</i>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="chefInfo">
                    <b>Mamta Behn</b>
                    <div class="hr"></div>
                    CM<div class="hr"></div>
                    TDA<div class="hr"></div>
                    <i>Mach Bhat</i>
                </ion-col>

                <ion-col class="chef">
                    <img src="../../assets/chef 2.jpg">
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="chef">
                    <img src="../../assets/chef 3.png">
                </ion-col>

                <ion-col class="chefInfo">
                    <b>Ramu Kaka</b>
                    <div class="hr"></div>
                    Bavarchi<div class="hr"></div>
                    10yr<div class="hr"></div>
                    <i>Nun Roti</i>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="lorem">
                    At [Restaurant Name], we are passionate about sharing the authentic flavors of [Cuisine] with our
                    guests. Our chef uses only the freshest ingredients and prepares each dish with traditional cooking
                    methods.

                    From our classic [Dish] to our more adventurous [Dish], we have something to satisfy every taste. We
                    also have a wide selection of drinks, including [Beverage], [Beverage], and [Beverage].

                    Whether you're a longtime fan of [Cuisine] or you're trying it for the first time, we invite you to
                    experience the authentic flavors of [Restaurant Name].

                    Call to action:Make a reservation today or order online for pickup or delivery.


                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="lorem" style="height: 600px;">

                    Sure, here are some more examples of restaurant website intros:

                    Family-friendly:

                    Headline:Where families come together to create lasting memories.

                    Subheadline:[Restaurant Name] is the perfect place for a delicious meal and a fun time for the whole
                    family.

                    Body:

                    At [Restaurant Name], we believe that families are the heart of our community. That's why we're
                    committed to creating a welcoming and family-friendly atmosphere.

                    Our menu features a variety of kid-friendly dishes, as well as healthier options for adults. We also
                    have a kids' play area, so your little ones can burn off some energy while you enjoy your meal.

                    Whether you're celebrating a special occasion or simply spending time with your loved ones,
                    [Restaurant Name] is the perfect place to create lasting memories.

                    Call to action:Make a reservation today and experience the best that family dining has to offer.

                    Quick service:

                    Headline:Fast, fresh, and delicious food on the go.

                    Subheadline:At [Restaurant Name], we believe that you shouldn't have to sacrifice quality for
                    convenience.

                    Body:

                    We offer a variety of quick service options, including made-to-order sandwiches, salads, and wraps.
                    We also have a wide selection of snacks and drinks.

                    Our food is made with fresh, high-quality ingredients and prepared with care. We know that you're
                    busy, so we're committed to getting your food to you quickly and without sacrificing quality.

                    Whether you're on your way to work, school, or the ballgame, [Restaurant Name] is the perfect place
                    to grab a quick and delicious meal.
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="return">
                    <a href="#top" style="color: black; text-decoration: none;">
                        &#11145;
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>