<ion-content>
    <span id="top"></span>
    <div style="background-color: rgb(195, 195, 195); position: fixed; z-index: 3; width: 100%;">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-row>
                        <ion-col size="4" class="ion-text-end">
                            <img src="../../assets/OIG.jpeg" style="border-radius: 1000px; height: 45px;">
                        </ion-col>

                        <ion-col style="font-size: larger; font-weight: bolder; padding-top: 17px;">
                            Restaurant
                        </ion-col>
                    </ion-row>
                </ion-col>

                <ion-col style="padding-top: 17px;" class="ion-text-end">
                    <a href="../sign-page/">
                        <button>
                            Sign-in
                        </button>
                    </a>
                    <a href="../login-page/">
                        <button style="margin-left: 5px;">
                            log-in
                        </button>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <img src="../../assets/tabel.gif" style="position: fixed; margin-top: 79px; height: 588px; width: 375px;">
    <img src="../../assets/ionic.gif" style="position: fixed; bottom: 0px; mix-blend-mode: multiply; z-index: 3;">

    <div style="margin-top: 88px; margin-bottom: 214px;">
        <ion-grid>
            <ion-row>
                <ion-col class="lorem">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste eum dicta nisi placeat error
                    consequuntur ullam ipsum labore molestias. Veniam cumque, eveniet deserunt deleniti sint placeat
                    aspernatur in adipisci. Perferendis blanditiis non porro, sequi aperiam repellat enim fuga
                    dignissimos rem, error voluptates voluptate quia ipsum quam consequuntur! Dolore corrupti commodi
                    ea?
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="knowYourChef">
                    KNOW YOUR CHEF
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="chef">
                    <img src="../../assets/chef 1.jpg">
                </ion-col>

                <ion-col class="chefInfo">
                    <b>NAME</b>
                    <div class="hr"></div>
                    DESIGNATION<div class="hr"></div>
                    EXPERIENCE<div class="hr"></div>
                    <i>SPECIALITY</i>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="chefInfo">
                    <b>NAME</b>
                    <div class="hr"></div>
                    DESIGNATION<div class="hr"></div>
                    EXPERIENCE<div class="hr"></div>
                    <i>SPECIALITY</i>
                </ion-col>

                <ion-col class="chef">
                    <img src="../../assets/chef 2.jpg">
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="chef">
                    <img src="../../assets/chef 3.png">
                </ion-col>

                <ion-col class="chefInfo">
                    <b>NAME</b>
                    <div class="hr"></div>
                    DESIGNATION<div class="hr"></div>
                    EXPERIENCE<div class="hr"></div>
                    <i>SPECIALITY</i>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="lorem">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste eum dicta nisi placeat error
                    consequuntur ullam ipsum labore molestias. Veniam cumque, eveniet deserunt deleniti sint placeat
                    aspernatur in adipisci. Perferendis blanditiis non porro, sequi aperiam repellat enim fuga
                    dignissimos rem, error voluptates voluptate quia ipsum quam consequuntur! Dolore corrupti commodi
                    ea?
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="lorem" style="height: 600px;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ad dolor natus officiis molestiae
                    magni facilis, repellat quod blanditiis provident repudiandae cupiditate in atque quo tenetur
                    necessitatibus ab enim? Totam ea quam optio earum perferendis voluptates quaerat laboriosam nam
                    natus cum unde quisquam eaque reprehenderit, delectus autem corrupti. Animi harum, voluptatibus
                    quaerat, assumenda, veniam aliquid cum voluptas doloremque debitis exercitationem id. Autem deleniti
                    veniam optio dolorum. Harum quas fuga suscipit, qui ipsa nihil quis eligendi. Iusto inventore
                    laboriosam animi eum praesentium doloremque! Veniam deleniti officiis voluptatem tenetur sit
                    eligendi quam repudiandae architecto consequuntur totam praesentium hic, libero ad, id reprehenderit
                    ex eius quae tempore sequi.
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class ="return">
                    <a href="#top" style="color: black; text-decoration: none;">
                        &#11145;
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>