<ion-content>
  <br>
  <br>
  <br>
  <div class = "login">
    Sign-in
  </div>
  <div style="height: 550px;">
    <div style="justify-content: center; display: flex; align-items: center;">
      <form style="max-width: 300px;" #form = "ngForm">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text" required="required" name="signin_firstname" #fname="ngModel" minlength="5" maxlength="10" [ngModel]="signin_firstname"></ion-input>
              </ion-item>
              <p *ngIf="fname.errors && fname.dirty" style="color: red; font-size: 12px;">This field is required!</p>
            </ion-col>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="text" required="required" name="signin_lastname" #lname="ngModel" minlength="5" maxlength="10" [ngModel]="signin_lastname"></ion-input>
              </ion-item>
              <p *ngIf="lname.errors && lname.dirty" style="color: red; font-size: 12px;">This field is required!</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="Email" required="required" name="signin_email" #email="ngModel" [ngModel]="signin_email"></ion-input>
        </ion-item>
        <p *ngIf="email.errors && email.dirty" style="color: red; font-size: 12px;">This field is required!</p>

        <ion-item lines="full">
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="number" required="required" name="signin_phone" #phone="ngModel" [ngModel]="signin_phone"></ion-input>
        </ion-item>
        <p *ngIf="phone.errors && phone.dirty" style="color: red; font-size: 12px;">This field is required!</p>
    
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required="required" name="signin_password" #password="ngModel" minlength="5" maxlength="12" [ngModel]="signin_password"></ion-input>
        </ion-item>
        <p *ngIf="password.errors && password.dirty" style="color: red; font-size: 12px;">Password between 5 to 12 charcters!</p>

        <ion-item lines="full">
          <ion-label position="floating">Confirm-Password</ion-label>
          <ion-input type="password" required="required" name="signin-confirmpassword" #confirmpassword="ngModel" minlength="5" maxlength="12" [ngModel]="signin_confirmpassword"></ion-input>
        </ion-item>
        <p *ngIf="confirmpassword.errors && confirmpassword.dirty" style="color: red; font-size: 12px;">Password between 5 to 12 charcters!</p>
        <br>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" (click) = "signinForm(form)" [disabled] = "!form.valid" [routerLink]="'/'">Sign In</ion-button>
          </ion-col>
        </ion-row>
        <br>
        <div style="text-align: center;">
          --------------------OR--------------------
          <div>
            <br>
            <span>
              <a href="https://www.google.com/">
                <img src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png" class = "icon LRpadding">
              </a>
            </span>
            <span>
              <a href="https://www.facebook.com/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" class = "icon LRpadding">
              </a>
            </span>
            <span>
              <a href="https://twitter.com/">
                <img src="https://cdn-icons-png.flaticon.com/512/3670/3670151.png" class = "icon LRpadding">
              </a>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>