<ion-content>
  <div style="background-color: rgb(233, 233, 233);">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <div style="font-size: larger; font-weight: bolder;">
            Restaurant Menu
          </div>
          <div style="color: rgb(98, 98, 98);">
            Hello Foodie
          </div>
        </ion-col>
        <ion-col size="2">
          <img src="../../assets/OIG.jpeg" style="border-radius: 1000px; height: 45px;">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-searchbar style="background-color: white; border-radius: 20px; margin: 10px; max-height: 50px; max-width: 355px;"></ion-searchbar>
  
  <div style="margin-left: 5px; margin-right: 5px;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="9" style="font-weight: bolder;">
          Popular Dishes
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <a href="../view/" style="color: #fb5e71; font-size: 15px; font-weight: bold; text-decoration: none;">
            View more
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <app-slider [alldata]="allpopularData"></app-slider>
  </div>

  

  <div style="margin-left: 5px; margin-right: 5px;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="8" style="font-weight: bolder;">
          Explore Categories
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <a href="" style="color: #fb5e71; font-size: 15px; font-weight: bold; text-decoration: none;">
            Show more
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <app-slider2 [allcatdata]="allcatData"></app-slider2>
  </div>



  <div style="margin-left: 5px; margin-right: 5px;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="9" style="font-weight: bolder;">
          Recommended Drinks
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <a href="" style="color: #fb5e71; font-size: 15px; font-weight: bold; text-decoration: none;">
            View more
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <app-slider [alldata]="alldrinkData"></app-slider>
  </div>
</ion-content>